body {
  background: #fbfbfb;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid black;
  margin: 0;
  grid-gap: 10px;
  height: 100vh;
  width: 100vw;
}
.node {
  display: flex;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  color: white;
  background: red;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
